{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{{block.super}}
{% block content %}
    <div class="table-settings mb-4 mt-5 mx-5">
        <div class="row align-items-center justify-content-between">
            <div class="col col-md-8 col-lg-3 col-xl-8">
                {% block search %}{% search_form cl %}{% endblock %}
            </div>
            <div class="d-block mb-4 mb-md-0 col-4 col-md-2">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        {% block object-tools-items %}
                            {% change_list_object_tools %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-4">
        <div class="{% if cl.has_filters and cl.result_list %}col-md-10{% else %}col-md-12{% endif %}">
            {% block date_hierarchy %}
                {% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}
            {% endblock %}
            <form id="changelist-form" method="post" {% if cl.formset and cl.formset.is_multipart %}
                  enctype="multipart/form-data"{% endif %} novalidate>
                {% csrf_token %}

                {% if cl.formset %}
                    <div>{{ cl.formset.management_form }}</div>
                {% endif %}

            {% if cl.result_list %}
                <div class="card card-body border-0 shadow table-wrapper table-responsive">
                    {% block result_list %}
                        {% if action_form and actions_on_top and cl.show_admin_actions %}
                            {% admin_actions %}
                        {% endif %}

                        {% result_list cl %}

                        {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                            {% admin_actions %}
                        {% endif %}
                    {% endblock %}

                    {% block pagination %}{% pagination cl %}{% endblock %}
                </div>
            {% else %}
                <div class="card card-body border-0 shadow table-wrapper table-responsive">
                    Não tem itens cadastrados
                </div>
            {% endif %}
            </form>
        </div>
        {% if cl.result_list %}
            <div class="col-md-2">
                {% if cl.has_filters %}
                    {% block filters %}
                        <div class="card card-body border-0 shadow table-wrapper table-responsive">
                            <div class="card-header filter_card_header">
                                <h5>{% trans 'Filter' %}</h5>
                            </div>
                            <div class="card-body">
                                {% for spec in cl.filter_specs %}
                                    {% admin_list_filter cl spec %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}